.wrapper {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  gap: 20px;
  background-color: #f8f8f8;
}

.title {
  font-weight: 600;
  font-size: 22px;
}

.img {
  max-width: 40%;
  height: 100%;
}

.info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .img {
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .img {
    max-width: 100%;
  }
}
